body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  margin: 0 0.75rem 2rem 0.75rem;
  font-size: 16px;
}

 a {
   color: black;
 }

img {
  max-width: 100%;
}

main {
  max-width: 45ch;
}
.post-title {
  font-size: 20px;
  margin: 110px 0 0 0;
  font-weight: 400;
  }
.post-date {
  font-size: 12px;
  margin: 0;
  }
.post-content {
  margin-top: 110px;
  }