---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article>
  <h1 class="post-title">{{ title }}</h1>
  <date class="post-date">{{ date }}</date>
  <div class="post-content">
  {{ content | safe }}
  </div>
</atricle>
<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
